@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }

  .dark {
    --background: #1a1a1a;
    --foreground: #ffffff;
  }

  /* Add smooth transition for theme changes */
  * {
    @apply transition-colors duration-75;
  }

  body {
    @apply min-h-screen bg-background text-foreground;
  }
}
